:root {
  --Hover-Color: #3fbbc0;
  --white: #fff;
  --blue-White: #2c4964;
  --Blue-dark: #1977cc;
  --Black: #111;
}

/* #home {
  width: 100%;
  height: 90vh;
  background: url("../Assets/images/home.jpg") top center;
  background-size: cover;
  margin-bottom: -200px;
} */

#home .container {
  position: relative;
}

#home h1 {
  margin: 0;

  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: var(--blue-White);
}

#home h2 {
  color: var(--blue-White);
  margin: 10px 0 0 0;
  font-size: 24px;
}

.learnBtn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: var(--white);
  background: var(--Blue-dark);
  text-decoration: none;
}

#home .learnBtn:hover {
  background: var(--Hover-Color);
  color: #fff;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #home {
    margin-bottom: 0;
    height: 100vh;
  }
  #home .container {
    padding-bottom: 63px;
  }
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 600px) {
  #home {
    height: 110vh;
  }
}
.featured-services .icon-box {
  margin-top: 20px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: var(--white);
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #d9f1f2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: var(--Hover-Color);
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: var(--Blue-dark);
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: var(--Black);
  text-decoration: none;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
  color: var(--white);
}

.featured-services .icon-box:hover .icon i {
  color: #820606;
}

.icon {
  /* text-align: center; */
  width: 50px;
  height: 50px;
  /* background-color: red; */
  /* position: absolute; */
  bottom: 50%;
  transform: translate(0, 50%);
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.zoomIn {
  background-color: #81b4b5;
  transition: transform 0.3s ease;
  border-radius: 20px;
}
.zoomIn:hover {
  background-color: var(--Hover-Color);
  top: 0;
  border-radius: 7px;
  transform: scale(1.1);
  color: #fff;
}

/* fOR BTN */
.btn-light {
  background-color: var(--Hover-Color);
  border-radius: 50px;
  color: #fff;
}

.btn-light:hover {
  background-color: #81b4b5;
}

/* for date input */
.date {
  width: 279px;
  height: 40px;
}

@media (max-width: 991px) {
  .featured-services {
    margin-top: -200px;
  }
}

@media (min-width: 991.98px) {
  .banner {
    position: relative;
    z-index: 1;
  }
}
